{{!-- This is the view for when the user is going to login. --}}
<div class="authOuterBox">
    <div class="authHeader">Login</div>
    <div class="authInnerBox">
        <p class="authLables">User Name</p>
        <input class="AuthUserInput" id="userNamefield"></textarea>
        <p class="authLables">Password</p>
        <input class="AuthUserInput" id="passwordfield" type="password"></textarea>
        <br>
        <button class="authBtn" id="loginBtn">Login!</button>
        <p><a class="authLink" href="./signup">Sign up Instead</a></p>
    </div>
</div>
<script src="/js/login.js"></script>