        <div class="authOuterBox">
            <div class="authHeader">Login</div>
            <div class ="authInnerBox">
                <p class="authLables">Username</p>
                <textarea class="AuthUserInput"></textarea>
                <p class="authLables">Password</p>
                <textarea class="AuthUserInput"></textarea>
                <br>
                <button class="authBtn" id="loginBtn">Login!</button>
                <p><a class="authLink" href="./signup">Sign up Instead</a></p>
            </div>
        </div>