{{!-- This is the view for when the user is creating a new post. --}}
<div class="pageHeader">You are creating a new post!</div>
<div id="blogPostSection">
    <article class="blogPostCard">
        <div class="updatePostHeader">
            <div class="postTitle">Post Title</div>
            <textarea id="newPostTitleBox" placeholder="Enter Title Here"></textarea>
        </div>
        <div class="updatePostHeader">
            <div class="postTitle">Post Body</div>
            <textarea id="newPostBodyBox" placeholder="Enter Body Here"></textarea>
        </div>
    </article>
    <div id="updatePostButtonsBox">
        <button id="newPostBtn">Submit New Post</button>
    </div>
    <script src="/js/newPosts.js"></script>