<div class="authOuterBox">
    <div class="authHeader">Login</div>
    <div class="authInnerBox">
        <p class="authLables">Username</p>
        <input class="AuthUserInput" id="userNamefield"></textarea>
        <p class="authLables">Password</p>
        <input class="AuthUserInput" id="passwordfield" type="password"></textarea>
        <br>
        <button class="authBtn" id="signupBtn">Signup!</button>
        <p><a class="authLink" href="./login">Login Instead!</a></p>
    </div>
</div>
<script src="/js/signup.js"></script>