*{
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    color: lightgray;
    padding: 10px
}

.navlist{
    display: inline-flex;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: bold;
}

a:link {
    color: lightgray;
    font-weight: bold;
}

a:visited {
    color: lightgray;
    font-weight: bold;
}

#titleText {
    display: inline-flex;
    margin-left: 20px;
    padding: 10px;
    margin: 20px 20px;
    background-color: lightgray;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 6px 4px 16px grey;
}

body{
    background-color: lightgray;
}

main{
    margin: 10px 20px;
}

.blogPostCard{
    border: 2px solid black;
    margin: 20px 20px;

}

.postHeader{
    background-color: black;
    color: lightgray;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.postTitle{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}

.postMeta{
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.postBody{
    padding: 10px 20px;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: black;
    color: lightgray;
    padding: 10px;
    text-align: center;
}