* {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}

/* Start of Header Section */

header {
    background-color: black;
    color: lightgray;
    padding: 10px
}

.navlist {
    display: inline-flex;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: bold;
}

a:link {
    color: lightgray;
    font-weight: bold;
}

a:visited {
    color: lightgray;
    font-weight: bold;
}

#logout {
    font-size: 20px;
    font-weight: bold;
    color: lightgray;
}

#titleText {
    display: inline-flex;
    margin-left: 20px;
    padding: 10px;
    margin: 20px 20px;
    background-color: lightgray;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 6px 4px 16px grey;
}

/* End of Header Section */

body {
    background-color: lightgray;
}

main {
    margin: 10px 20px;

}

/* Start of Home Page Section */
#newPostBox {
    display: flex;
    justify-content: space-around;
}

#newPostBtn {
    display: flexbox;
    align-items: center;
    background-color: black;
    color: lightgray;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 9px;
    width: 20%;
}

.blogPostCard {
    border: 3px solid black;
    margin: 20px 20px;

}

.postHeader {
    background-color: black;
    color: lightgray;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.postTitle {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}

.postMeta {
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.postBody {
    padding: 10px 20px;
}

/* End of Home Page Section */


/* Start of Login/Signup Section */

.authOuterBox {
    border: 3px solid black;
}

.authHeader {
    background-color: black;
    color: lightgray;
    font-weight: bolder;
    font-size: 20px;
    padding: 8px 10px
}

.authInnerBox {
    padding: 8px 10px
}

.authLables {
    color: black;
    font-weight: bolder;
    padding: 3px 0px;
}

.AuthUserInput {
    background-color: white;
    width: 100%;
    line-height: 200%;
    padding-left: 1px;
    font-weight: bolder;
}

.authBtn {
    width: 100%;
    background-color: rgb(102 102 102);
    color: lightgray;
    font-weight: bolder;
    font-size: 20px;
    padding: 3px 0px;
    margin: 3px 2px;
}

.authLink:link {
    color: blue;
    font-size: 20px;
}

.authLink:visited {
    color: purple;
    font-weight: bold;
}

/* End of Login/Signup Section */

/* Start of Posts Page Section*/

.commentHeader {
    background-color: black;
    color: lightgray;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

#newCommentBox {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

#addCommentTextBox {
    width: 50%;
    height: 200px;
    background-color: white;
    margin: 5px;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bolder;
}

#newCommentBtn {
    display: flexbox;
    align-items: center;
    background-color: black;
    color: lightgray;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 9px;
    width: 20%;
}

#loginBtn {
    display: flexbox;
    align-items: center;
    background-color: black;
    color: lightgray;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 9px;
    width: 20%;
}

/* End of Posts Page Section*/

/* Start of Dashboard*/

#dashboardOuterBox {
    margin: 20px;
    border: 2px solid black;
}

#newPostBtn {
    display: flexbox;
    align-items: center;
    background-color: black;
    color: lightgray;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 9px;
    width: 20%;
}

.updatePostHeader {
    background-color: black;
    color: lightgray;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;

}

#updateTitleBox {
    width: 100%;
    margin: 0px;
    line-height: 100%;
    background-color: lightgray;
    border-color: transparent;
    resize: none;
    font-weight: bold;
    font-size: 20px;
    border-right: 2px solid black;
}

#updateBodyBox {
    width: 100%;
    height: 100px;
    margin: 0px;
    line-height: 100%;
    background-color: lightgray;
    border-color: transparent;
    resize: none;
    font-weight: bold;
    font-size: 20px;
    border-right: 2px solid black;
}

#newPostTitleBox {
    width: 100%;
    margin: 0px;
    line-height: 100%;
    background-color: lightgray;
    border-color: transparent;
    resize: none;
    font-weight: bold;
    font-size: 20px;
    border-right: 2px solid black;
}

#newPostBodyBox {
    width: 100%;
    height: 100px;
    margin: 0px;
    line-height: 100%;
    background-color: lightgray;
    border-color: transparent;
    resize: none;
    font-weight: bold;
    font-size: 20px;
    border-right: 2px solid black;
}

#updatePostButtonsBox {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

#updatePostBtn {
    display: flexbox;
    align-items: center;
    background-color: black;
    color: lightgray;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 9px;
    width: 20%;
}

#newPostBtn {
    display: flexbox;
    align-items: center;
    background-color: black;
    color: lightgray;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 9px;
    width: 20%;
}

#deletePostBtn {
    display: flexbox;
    align-items: center;
    background-color: rgb(179, 25, 25);
    color: lightgray;
    border-color: transparent;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px 10px;
    border-radius: 9px;
    width: 20%;
}

/* End of Dashboard*/

.pageHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    font-weight: bolder;
}

footer {
    position: absolute;
    bottom: 0px;
    margin-top: 25px;
    width: 100%;
    background-color: black;
    color: lightgray;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 0px;
    text-align: center;
}